//grid framework for W07-Create a Grid Framework - Bambi Gibson

//variables for alignment grid
$num-columns: 8;
$one-column: 100% / $num_columns;
$loop-start: 1;
$loop-end: $num-columns +1;

//mixins
@mixin col($span-num) {
    flex: 0 0 $one-column * $span-num;
}

@mixin offset($offset-num) {
	margin-left: $one-column * $offset-num;
}

// @for loops
//make column classes
@for $index from $loop-start to $loop-end {
	.col-#{$index} {
	@include col($index);
	}
}

//make offset classes
@for $index from $loop-start to $loop-end {
	.offset-#{$index} {
		@include offset($index);
	}
}

// classes - columns and offset - not needed if everything processed correctly (I don't know how to test it without a complete html and css file) IN CODEPEN.IO when I remove the classes, the card goes a hair off center so I left them. But I'm guessing they should be deleted from here. I asked Ryan Gale for help, but he didn't understand what I was asking.

.col-1 {
	@include col(1);
}

.col-2 {
	@include col(2);
}

.col-8 {
	@include col(8);
}

.offset-2 {
	margin-left: 25%;
}

.offset-1 {
	margin-left: 12.5%;
}
