$color-6: #000;
$color-7: #fff;
$color-8: #74797b;

// for the .summary
.cd-primary-nav {
    a {
        &:link {
            color: $color-6;
            text-decoration: none;
        }
    }   
        &:visited {
            color: $color-6;
            text-decoration: none;
        }

        &:hover {
            color: $color-7;
            text-decoration: underline;
            font-weight: bold;
        }

        &:active {
            color: $color-8;
            text-decoration: underline;
            font-weight: bold;
        }

//  .sidebar Select a Design
.cd-secondary-nav {
    a {
        &:link {
            color: $color-6;
            text-decoration: none;
        }
    }   
        &:visited {
            color: $color-6;
            text-decoration: none;
        }
    
        &:hover {
            color: $color-7;
            text-decoration: underline;
            font-weight: bold;
        }

        &:active {
            color: $color-8;
            text-decoration: underline;
            font-weight: bold;
        }
    }
 
//     Resources links    
ul {
    li {    
        a {
            &:link {
                color: $color-6;
                text-decoration: none;
            }
        }   
            &:visited {
                color: $color-6;
                text-decoration: none;
            }

            &:hover { 
                color: $color-7;
                text-decoration: underline;
                font-weight: bold;
            }

            &:active {
                color: $color-8;
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
}

 